@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center">PROYECTO BIBLIOTECA</h1>
        <p class="lead text-center fst-italic">
            La biblioteca de su comunidad busca una solución tecnológica completa para gestionar eficientemente su colección de libros. Se requiere un sistema que permita registrar y administrar información detallada de libros, usuarios, préstamos y compras.
            La plataforma debe permitir
        </p>
        <p class="lead text-center fs-5 fst-italic">
            1-Catálogo de Libros: Se debe contar con un catálogo completo de libros, donde se registren detalles como título, autor, género, fecha de publicación, número de ejemplares disponibles, entre otros.
        </p>
        <p class="lead text-center fs-5 fst-italic">
            2-Gestión de Usuarios: Los usuarios de la biblioteca deben poder registrarse en la plataforma, indicando información básica como nombre, teléfono, documento, dirección y correo electrónico. Además, se debe llevar un historial de préstamos y devoluciones para cada usuario.
        </p>
        <p class="lead text-center fs-5 fst-italic">
            3-Control de Préstamos: El sistema debe permitir gestionar préstamos de libros, estableciendo fechas de préstamo y devolución. Se debe enviar notificaciones automáticas a los usuarios para recordarles las fechas de devolución y gestionar posibles renovaciones.
        </p>
        <p class="lead text-center fs-5 fst-italic">
            4-Registro de Compras: Se debe tener un registro de las compras. Esto permitirá gestionar adecuadamente el ingreso de nuevos libros a la colección.
        </p>
    </section>


    <section class="row text-center" aria-labelledby="hostingTitle">
        <h2 id="hostingTitle" class="text-center">RESPONSABLES</h2>
        <p class="lead text-center fst-italic">Valentina Gonzalez</p>
        <p class="lead text-center fst-italic">Yean Carlos Narvaez Ospina</p>

    </section>
    
</main>